.flex-container {
    display: flex;
}

img {
    width: 15%;
    min-width: 200px;

    margin: 3em;

    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

div {
    
}

.divHeroes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    text-align: center;
}