.grid-container {
    display: flex;
    justify-content: space-around;
    gap: 5em;
}

img {
    padding: 2%;
    width: 15%;

    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

div {
    text-align:center;
}