body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: row;

    min-height: calc(10vh - 3px);
    min-width: 100%;


    background-color: white;

    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: goldenrod;
}

.container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    min-height: 90vh;

}


.side {
    flex: 0.5;

    background-color: #1a5368;
}

.middle {
   -webkit-flex: 2;
   -ms-flex: 2;
   flex: 2;

   background-color: #2b4150;
   
   border-left-color: white;
   border-right-color: white;
   border-width: 3px;
   border-left-style: solid;
   border-right-style: solid;
}

table{
    width: 100%;
    table-layout: fixed;

    text-align: center;
}

th {
    text-align: left;
}

th, td {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

p {
    color: aliceblue;
}

/* Hero Info */

.imgHero {
    width: 15%;
    min-width: 200px;

    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 6em;
    margin-right: 6em;

    background-color:#ecdcbc;

    border-width: 7px;
    border-style: solid;
    border-color:ghostwhite;

    flex: 0.5;
}

.heroinfo {
    display: flex;   
}

.herotext {
    flex: 1.5;
    padding-right: 20px;

    text-align: justify;
}

/* Video */

.videoAbility {
    display: none;
    position: fixed;

    width: 70%;
    height: 70%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 1%;
    padding-bottom: 1%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ecdcbc;

    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Abilities */

.abilities {
    display: flex;
    align-items: center;

    gap: 1em;
}

.imgAbility {
    width: 100px;
    filter: invert(100%);

    background-color:rgb(31, 31, 31);
    border-radius: 50%;
    padding: 10px;
}

/* Stats */
.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
}

.stats > div {
    flex: 50%;
}

@media screen and (max-width: 1400px){
    .imgAbility{
        width: 5em;
    }

    .heroinfo {
        flex-direction: column;
    }

    #heroImage {
        text-align: center;
        justify-content: center;
    }

    .herotext {
        padding-left: 20px;
    }

}

@media screen and (max-width: 850px){
    .imgAbility{
        width: 3em;
    }
}
