body, html {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    min-height: calc(10vh - 3px);

    background-color: white;

    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: goldenrod;

}

.container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    min-height: 90vh;

}


.side {
    flex: 0.5;

    background-color: #1a5368;
}

.middle {
   -webkit-flex: 2;
   -ms-flex: 2;
   flex: 2;

   background-color: #2b4150;
   
   border-left-color: white;
   border-right-color: white;
   border-width: 3px;
   border-left-style: solid;
   border-right-style: solid;
}

.imgHero {
    width: 15%;
    min-width: 200px;

    margin: 3em;
    margin-left: 6em;

    background-color:#ecdcbc;


    border-width: 7px;
    border-style: solid;
    border-color:ghostwhite;
}

table{
    width: 100%;
    table-layout: fixed;

    text-align: center;
}

th {
    text-align: left;
}

th, td {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

/* Abilities */



.abilities {
    display: flex;
    align-items: center;

    gap: 1em;


}

.imgAbility {
    width: 100px;
    filter: invert(100%);

    background-color:rgb(31, 31, 31);
    border-radius: 50%;
    padding: 10px;
}

@media screen and (max-width: 1400px){
    .imgAbility{
        width: 5em;
    }
}

@media screen and (max-width: 850px){
    .imgAbility{
        width: 3em;
    }
}
