
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

th {
    text-align: left;
}

th, td {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

p {
    font-family: Verdana;
    font-size:medium;
    line-height: 1.5;

    color: aliceblue;
}

h1 {
    font-family: Georgia;
    margin-left: 5em;
}

h2 {
    font-family: Georgia;

    color: ghostwhite;
    text-align: center;
}

h3 {
    font-family: Georgia;
    color:white;
    text-decoration: underline;
}

h4 {
    font-family: Georgia;
    color: ghostwhite;
}

hr {
    width: 95%;
    margin-top: 2vh;
    color: aliceblue;
    background-color: aliceblue;

    height: 1px;
}

.header {
    display: flex;
    flex-direction: row;

    min-height: calc(10vh - 3px);
    min-width: 100%;


    background-color: white;

    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: goldenrod;
}

.container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    min-height: 90vh;

}


.side {
    flex: 0.5;

    background-color: #1a5368;
}

.middle {
   -webkit-flex: 2;
   -ms-flex: 2;
   flex: 2;

   background-color: #2b4150;
   
   border-left-color: white;
   border-right-color: white;
   border-width: 3px;
   border-left-style: solid;
   border-right-style: solid;
}


/* Hero Info */

.imgHero {
    width: 15%;
    min-width: 200px;

    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 6em;
    margin-right: 6em;

    background-color:#ecdcbc;

    border-width: 7px;
    border-style: solid;
    border-color:ghostwhite;

    flex: 0.5;
}

.heroinfo {
    display: flex;   
}

.herotext {
    flex: 1.5;
    padding-right: 20px;

    text-align: justify;
}

/* Video */

.videoAbility {
    display: none;
    position: fixed;

    width: 70%;
    height: 70%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 1%;
    padding-bottom: 1%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ecdcbc;

    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Abilities */


.abilities {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    text-align: center;

    justify-content: space-evenly;
}



.imgAbility {
    width: 100px;
    filter: invert(100%);

    background-color:rgb(31, 31, 31);
    border-radius: 50%;
    padding: 10px;

    margin-bottom: 10px;
    margin-top: 10px;
}

.imgAbility:hover {
    background-color:rgb(102, 102, 102);

    cursor:pointer;
}

/* Stats */

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
}

.stats > div {
    flex: 50%;
}


.hp > * {
    margin: 25px;
    
}
.hp > div {
    text-align: center;
    
}

.damage > * {

    margin: 25px;
}

.damage > div {
    text-align: center;
}

.stamina {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    flex-wrap: wrap;
}

@media screen and (max-width: 1400px){
    .imgAbility{
        width: 5em;
    }

    .heroinfo {
        flex-direction: column;
    }

    #heroImage {
        text-align: center;
        justify-content: center;
    }

    .herotext {
        padding-left: 20px;
    }

}

@media screen and (max-width: 850px){
    .abilities {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(4, auto);
    }

    .ability1img {
        grid-area: 1 / 1 / 2 / 2;
      }
      
    .ability2img {
        grid-area: 1 / 2 / 2 / 3;
      }
      
    .ability1name {
        grid-area: 2 / 1 / 3 / 2;
      }
      
    .ability2name {
        grid-area: 2 / 2 / 3 / 3;
      }
      
    .ability3img {
        grid-area: 3 / 1 / 4 / 2;
      }
      
    .ability4img {
        grid-area: 3 / 2 / 4 / 3;
      }
      
    .ability3name {
        grid-area: 4 / 1 / 5 / 2;
      }
      
    .ability4name {
        grid-area: 4 / 2 / 5 / 3;
      }

    .stats {
        flex-direction: column;
    }
}
