/* index Site - used for the layout */

body, html {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
}

img {
    width: 15%;
    min-width: 200px;

    margin-bottom: 0px;

    background-color:#ecdcbc;

    border-left: solid 7px;
    border-right: solid 7px;
    border-top: solid 7px;

    border-color: ghostwhite;

}

img:hover {
    cursor: pointer;
    filter: grayscale(25%);
    background-color:#d8c29a;
}

p{
    align-items: center;
    justify-content: center;

    display: flex;

    margin-top: -5px;
    margin-left: 3em;
    margin-right: 3em;

    width: 15%;
    min-width: 200px;

    height: 25px;


    border-left: solid 7px;
    border-right: solid 7px;
    border-bottom: solid 7px;

    border-color: ghostwhite;

    font-family: Verdana;
    font-size:medium;
}

.divHeroes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    text-align: center;
    
}

.divHero{
    margin: 3em;
}

body {
    background-color: #1a5368;
}

.container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    min-height: 90vh;

}

.side {
    flex: 0.5;

    background-color: #1a5368;
}

.middle {
   -webkit-flex: 2;
   -ms-flex: 2;
   flex: 2;

   background-color: #2b4150;
   
   border-left-color: white;
   border-right-color: white;
   border-width: 3px;
   border-left-style: solid;
   border-right-style: solid;
}


/* Header */
.header {
    display: flex;
    flex-direction: row;
    min-height: calc(10vh - 3px);

    background-color: #ecdcbc;

    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: goldenrod;
}

h1{
    margin-left: 5em;
    font-family: Georgia;
}
